.nav {
  &__item {
    font-size: $font-base * 3.2;
    font-family: $font-family-decor;

    @include medium {
      display: inline-block;
      width: 23%;
    }
  }
  &__link {
    color: $color-white;
    text-decoration: none;
    padding: $gird-base;
    border-radius: $gird-base * 0.4;
    display: block;
    transition-duration: 0.5s;
    &:hover {
      background-color: $color-red;
    }
  }
}
